version: 2

updates:
  - package-ecosystem: "github-actions"
    directories:
      - "/.github/workflows"
    schedule:
      interval: "weekly"
    # cooldown:
    #   default-days: 14
    groups:
      actions:
        patterns:
          - "*"
