/* Spanish letters */

ZMK_UNICODE_PAIR(es_a_acute,        N0, N0, E, N1,   N0, N0, C, N1)  // á/Á
ZMK_UNICODE_PAIR(es_c_cedilla,      N0, N0, E, N7,   N0, N0, C, N7)  // ç/Ç
ZMK_UNICODE_PAIR(es_e_acute,        N0, N0, E, N9,   N0, N0, C, N9)  // é/É
ZMK_UNICODE_PAIR(es_i_acute,        N0, N0, E, D,   N0, N0, C, D)  // í/Í
ZMK_UNICODE_PAIR(es_o_acute,        N0, N0, F, N3,   N0, N0, D, N3)  // ó/Ó 
ZMK_UNICODE_PAIR(es_u_acute,        N0, N0, F, A,   N0, N0, D, A)  // ú/Ú
ZMK_UNICODE_PAIR(es_n_tilde,        N0, N0, F, N1,  N0, N0, D, N1)  // ñ/Ñ 

