name: Release module version

on:
  pull_request:
    types:
      - closed
    branches:
      - main

permissions:
  contents: write

jobs:
  release:
    uses: urob/zmk-actions/.github/workflows/upgrade-module.yml@b0fd9b9889dcbe4062ef714a70c51f3254d2a6e6 # v9.1.0
