name: Run tests (release)

on:
  workflow_dispatch:
  push:
    paths:
      - "dts/**"
      - "include/**"
      - "src/**"
      - "tests/**"
  pull_request:
    paths:
      - "dts/**"
      - "include/**"
      - "src/**"
      - "tests/**"

jobs:
  test:
    uses: urob/zmk-actions/.github/workflows/run-tests.yml@b0fd9b9889dcbe4062ef714a70c51f3254d2a6e6 # v9.1.0
    with:
      toolchain: gnuarmemb
