name: Run tests (release)

on:
  workflow_dispatch:
  push:
    paths:
      - "dts/**"
      - "include/**"
      - "src/**"
      - "tests/**"
  pull_request:
    paths:
      - "dts/**"
      - "include/**"
      - "src/**"
      - "tests/**"

jobs:
  test:
    uses: urob/zmk-actions/.github/workflows/run-tests.yml@be8441abe83c2fe48c6f9f26d664845e93172fa4 # v9.1.1
    with:
      toolchain: gnuarmemb
