name: Run tests (main)

on:
  workflow_dispatch:
  push:
    paths:
      - "dts/**"
      - "include/**"
      - "src/**"
      - "tests/**"
  pull_request:
    paths:
      - "dts/**"
      - "include/**"
      - "src/**"
      - "tests/**"
  schedule:
    - cron: "0 21 * * 0,3" # Run every Sunday and Wednesday at 21:00 UTC

jobs:
  test:
    uses: urob/zmk-actions/.github/workflows/run-tests.yml@b0fd9b9889dcbe4062ef714a70c51f3254d2a6e6 # v9.1.0
    with:
      toolchain: gnuarmemb
      zmk-version: main
